@model IEnumerable<Blog.Models.PostModel>
@section Scripts{
    <partial name="Scripts" />
}
<form>
    <h1>Lista de Posts</h1>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Resumo</th>
                <th>Categoria</th>
                <th>Publicado?</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {   
                <tr>
                    <td>@post.Titulo</td>
                    <td>@post.Resumo</td>
                    <td>@post.Categoria</td>
                    <td>
                        @if (post.Publicado)
                        {
                            @Html.Raw(string.Format("{0:dd/MM/yyyy}", post.Data_Publicacao))
                        }
                        else
                        {
                            @Html.Raw("Não")
                        }
                    </td>
                    @*<td>@Html.ActionLink("Alterar", "Alterar", new { id = post.Id })</td>*@
                    <td><a asp-controller="Post" asp-action="Alterar" asp-route-Id=@post.Id>Alterar</a></td>
                    <td><a asp-controller="Post" asp-action="Excluir" asp-route-Id=@post.Id>Excluir</a></td>
                    <td><a asp-controller="Post" asp-action="Publicar" asp-route-Id=@post.Id>Publicar</a></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ValidationMessage("Publicacao")
</form>